<!-- Alt Features Section -->
    <section id="alt-features" class="alt-features section">
 <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos atouts</h2>
        <p>Le local, maîtrisé et amplifié</p>
      </div><!-- End Section Title -->
      
      <div class="container">

        <div class="row gy-5">

          <div class="col-xl-7 d-flex order-2 order-xl-1" data-aos="fade-up" data-aos-delay="200">

            <div class="row align-self-center gy-5">

              <div class="col-md-6 icon-box">
                <i class="bi bi-map"></i>
                <div>
                  <h4>Approche hyperlocale personnalisée</h4>
                  <p>Votre SEO local sculpté sur mesure, pour toucher chaque client là où il se trouve.</p>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-sliders"></i>
                <div>
                  <h4>Maîtrise complète des outils essentiels</h4>
                  <p>Pilotage complet des outils SEO par nos experts pour des résultats concrets.</p>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-shield-check"></i>
                <div>
                  <h4>Respect des standards techniques et accessibilité</h4>
                  <p>Respect strict des normes W3C et WCAG pour un référencement optimal et une accessibilité totale.</p>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h4>Stratégies multi-canaux intégrées</h4>
                  <p>Coordination SEO entre Google, réseaux sociaux et annuaires pour un impact local global.</p>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-speedometer2"></i>
                <div>
                  <h4>Rapidité de mise en œuvre et résultats visibles</h4>
                  <p>Mise en place agile des optimisations pour un impact SEO local mesurable rapidement.</p>
                </div>
              </div><!-- End Feature Item -->

           

            </div>

          </div>

          <div class="col-xl-5 d-flex align-items-center order-1 order-xl-2" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/alt-features.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>

    </section><!-- /Alt Features Section -->
    